demo.asl.json
{
  "Comment": "An example of the Amazon States Language using map reduce",
  "StartAt": "StartJob",
  "States": {
    "StartJob": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<your account id>:function:gamma-dip-step-function-test-map",
      "Next": "SubTask"
    },
    "SubTask": {
      "Type": "Map",
      "InputPath": "$.detail",
      "ItemsPath": "$.jobs",
      "MaxConcurrency": 0,
      "Parameters": {
        "parcel.$": "$$.Map.Item.Value",
        "courier.$": "$.delivery-partner"
      },
      "Iterator": {
        "StartAt": "DoJob",
        "States": {
          "DoJob": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:<your account id>:function:gamma-dip-step-function-test-subtask",
            "End": true
          }
        }
      },
      "ResultPath": "$.detail.jobs",
      "Next": "ReduceJob"
    },
    "ReduceJob": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<your account id>:function:gamma-dip-step-function-test-reduce",
      "End": true
    }
  }
}